.navegacion{
    margin: 0px;
    padding: 0px;
    height: 150px;
}


.logo{
    height: 150px;
    width: 150px;
    margin-right: 20px;
}

.boton a{
    margin:0px 25px;
  background-color: #DDE6ED;
  text-decoration: none;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.boton a:hover{
    /* color:red; */
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.boton a:active{
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.filtro{
    align-items: end;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
}

.inputBuscar{
    width: 30%;
}

.filtro input{
    margin:0px 10px;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.filtro input:focus, input:hover{
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.filtro input::placeholder {
    color: #777;
   }
   
.filtro input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }